body{
margin:0;
font-family:Arial;
text-align:center;
color:white;

/* Animated background */

background: linear-gradient(-45deg,#ff6a00,#ee0979,#00c6ff,#0072ff,#43cea2);
background-size: 400% 400%;
animation: gradientBG 10s ease infinite;

}

/* Gradient animation */

@keyframes gradientBG{

0%{
background-position:0% 50%;
}

50%{
background-position:100% 50%;
}

100%{
background-position:0% 50%;
}

}

/* LOGIN BOX */

.login-box{

background:rgba(255,255,255,0.2);
padding:40px;
border-radius:12px;
box-shadow:0 8px 20px rgba(0,0,0,0.3);

}

/* INPUT */

input{

padding:10px;
margin:8px;
border-radius:6px;
border:none;
width:200px;

}

/* BUTTON */

button{

padding:10px 20px;
margin:10px;
border:none;
border-radius:6px;

/* colorful button */

background:linear-gradient(45deg,#ff9a9e,#fad0c4,#fbc2eb);
color:black;
font-weight:bold;
cursor:pointer;

}

/* DASHBOARD CARDS */

.dash-card{

background:linear-gradient(135deg,#a1c4fd,#c2e9fb);
padding:25px;
border-radius:12px;
color:black;
width:200px;
margin:10px;
display:inline-block;
font-weight:bold;

}

/* RESULT CARD */

.card{

background:linear-gradient(135deg,#f6d365,#fda085,#ff9a9e,#a18cd1);
padding:20px;
margin:15px;
border-radius:12px;
color:black;
font-weight:bold;
display:inline-block;
width:250px;

}
