body{

font-family:Arial;
background:linear-gradient(135deg,#00c6ff,#0072ff);
text-align:center;
color:white;

}

.login{

margin-top:120px;

}

input{

padding:10px;
margin:5px;
border:none;
border-radius:6px;

}

button{

padding:10px 20px;
margin:10px;
border:none;
border-radius:6px;
background:orange;
cursor:pointer;
font-size:16px;

}

.main{

display:none;
margin-top:30px;

}

.symptoms{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:10px;
margin:20px;

}

label{

background:white;
color:black;
padding:10px;
border-radius:6px;

}

.card{

background:white;
color:black;
padding:15px;
margin:15px;
border-radius:10px;
width:250px;
display:inline-block;
}
