body{

font-family:Arial;
text-align:center;
margin:0;

/* MULTIPLE COLOR BACKGROUND */

background: linear-gradient(-45deg,#ff6a00,#ee0979,#00c6ff,#43cea2,#7f00ff);
background-size:400% 400%;
animation:gradientMove 10s infinite;

color:white;

}

@keyframes gradientMove{

0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}

}

.login-box{

background:rgba(255,255,255,0.2);
padding:30px;
margin-top:120px;
border-radius:10px;

}

input{

padding:10px;
margin:5px;
border:none;
border-radius:5px;

}

button{

padding:10px 20px;
margin:10px;
border:none;
border-radius:6px;

/* colourful button */

background:linear-gradient(45deg,#ff9a9e,#fad0c4,#fbc2eb,#a1c4fd);
cursor:pointer;
font-weight:bold;

}

.main{

display:none;
padding:30px;

}

.symptoms{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:10px;
margin:20px;

}

label{

background:white;
color:black;
padding:10px;
border-radius:6px;

}

.card{

background:linear-gradient(135deg,#f6d365,#fda085,#ff9a9e,#a18cd1);
padding:20px;
margin:15px;
border-radius:10px;
color:black;
display:inline-block;
width:220px;

}
